<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{default}">
<head>
<title>Admin Dashboard</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:inline="text">Hello [[${fullName}]]!</h1>
		<h2 th:if="${!isFiftyDay && !isIndustry}">This is your Admin Dashboard</h2>
		<div th:replace="~{/fragments/userAdminFragment}"></div>
		<div th:replace="~{/fragments/stockAdminFragment}"></div>
		<div th:replace="~{/fragments/performanceSearchFragment}"></div>
		<div th:replace="~{/fragments/performanceSummaryFragment}"></div>

	</div>
</body>
</html>