<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{default}">
<head>
<meta charset="UTF-8">
    <title>SNHU Stock Market Analysis Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
	<h2 th:text="'Outstanding Shares For ' + ${sectorName} + ' Sector'">/</h2>
	<form action="/sectorOutstandingShares" method="get" id="sharesForm">
	<input type="hidden" name="sector" th:value="${sectorName}"/>
	<input type="hidden" name="sortField" id="sortField"/>
	<input type="hidden" name="sortDirection" id="sortDirection" th:value="${sortDir}"/>
	<table>
		<thead>
			<tr>
				<td width="300px" 
					onclick="document.getElementById('sortField').value='_id';document.getElementById('sharesForm').submit()">Industry Name
					<span th:switch="${sortDirStr}">
						<img th:case="'ASC'" src="/images/descend.svg" height="20px"/>
						<img th:case="'DESC'" src="/images/ascend.svg" height="20px"/>
						<img th:case="''" src="/images/sort.svg" height="20px"/>
					</span>
				</td>
				<td onclick="document.getElementById('sortField').value='total';document.getElementById('sharesForm').submit()">Outstanding Shares
					<span>
						<img th:if="${sortDirStr} == 'ASC'" src="/images/descend.svg" height="20px"/>
						<img th:if="${sortDirStr} == 'DESC'" src="/images/ascend.svg" height="20px"/>
						<img th:if="${sortDirStr} == ''" src="/images/sort.svg" height="20px"/>
					</span>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="industry, iStat : ${outstandingShares}"
				th:style="${iStat.odd}? 'background-color: #A0CFEC'">
				<td th:text="${industry._id}"/>
				<td th:text="${industry.total}"/>
			</tr>
		</tbody>
	</table>
	</form>
	</div>
</body>
</html>