<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{default}">
<head>
<title>User Administration</title>
</head>
<body>
	<div layout:fragment="content">
		<form th:if="${regUser == null}" action="/userAdmin" method="post">
			<select name="regUser">
				<option th:if="${regUser == null}"
					th:selected="${regUser == null}">Select Registered User</option>
				<option th:each="i: ${regUsers}" th:value="${i.email}" th:text="${i.fullname + ' / ' + i.email }"
					th:selected="(${i == regUser})"></option>
			</select>
			<button class="btn btn-sm btn-primary" type="submit">Update User</button>
		</form>
		<form th:if="${regUser != null}" action="saveUserChange" method="post">
			<table class="userAdminTable">
				<tr>
					<th>Full Name</th>
					<th>e-mail</th>
					<th th:each="role:${roles}" style="text-align:center" th:text="${role.role}"></th>
				</tr>
				<tr>
					<td th:text="${regUser.fullname}"></td>
					<td th:text="${regUser.email}"></td>
					<td th:each="role:${roles}" style="text-align:center"><input type="checkbox" name="roles" th:value="${role.role}" th:checked="${#lists.contains(regUser.roles,role)}"></td>
				</tr>
			</table>
			<div>
				<input type="hidden" th:value="${regUser.email}" name="regUser">
				<button class="btn btn-primary" type="submit">Save User</button>
				<button class="btn btn-success" onclick="window.location.href='/userAdmin';">Cancel</button>
			</div>
		</form>
	</div>
</body>